<a href="/doctors">< Go Back </a>
<br>
<h2>{{doctors.full_name}}</h2>
<h4>Physician Informaion</h4>
<ul class="doc-info">
  <li>Full Name: {{doctors.full_name}}</li>
  <li>Accepting New Patients: {{doctors.new_patients}}</li>
  <li>Speciality/Category: {{doctors.category}}</li>
  <li>Graduation Date: {{doctors.graduation_year}}</li>
  <li>Practice: {{doctors.practice_name}} </li>
</ul>
<h4>Practice Informaion</h4>
<ul class="practice-info">
  <li>Name: {{doctors.practice_name}}</li>
  <li>Address: {{doctors.street_address}}</li>
</ul>
